SECRET_KEY=UAerSJF2ATN5Tb4-xpVRbhMA7wfGHr6vjtLwPXW0iYw
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
ALLOW_ALL_ORIGINS=True

# postgres://tydzbxlt:wGm8-X9ND1f4j7mRFCxs1iwAtIf4o2Z9@drona.db.elephantsql.com/tydzbxlt

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=tydzbxlt
DATABASE_USER=tydzbxlt
DATABASE_PASSWORD=wGm8-X9ND1f4j7mRFCxs1iwAtIf4o2Z9
DATABASE_HOST=drona.db.elephantsql.com
DATABASE_PORT=5432
